<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            href="{{ '/assets/images/favicon.png' | relative_url }}"
        />
        <title>{{ page.title }} | {{ site.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/style.css' | relative_url }}"
        />
    </head>
    <body>
        {% include navigation.html %} {{ content }} {% include footer.html%}
        <script>
            // Hide navbar on initial load for home page only
            if (window.location.pathname === '{{ "/" | relative_url }}') {
                const nav = document.querySelector("nav");
                nav.style.transform = "translateY(-100%)";
                nav.style.transition = "transform 0.3s ease";
                nav.style.position = "absolute";
                nav.style.width = "100%";

                let hasScrolled = false;
                window.addEventListener("scroll", function () {
                    if (!hasScrolled && window.scrollY > 0) {
                        nav.style.transform = "translateY(0)";
                        nav.style.position = "static";
                        hasScrolled = true;
                    }
                });
            }
        </script>
    </body>
</html>
